@import "./../base/settings.scss";

.bookmark {
  border: 2px solid grey;
  border-top: none;
  border-radius: 0 0 20px 20px;
  color: #89bdd3;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 50px;
  // background: red;
  padding: 1rem 1rem;
  z-index: 99;
  border-color: #89bdd3;
  &:hover {
    color: #22264b;
    border-color: #22264b;
  }

  transition: all ease 0.5s;

  &:hover {
    cursor: pointer;
    transition: all ease 0.5s;
  }
}

@include for-phone-only {
  .bookmark {
    top: 40px;
    right: 0;
    transform: rotate(90deg);
  }
}
