@import "./../base/settings.scss";

.header {
  background: rgba(150, 150, 150, 0.3) !important;
  display: flex;
  color: $off-white;
  font-size: $font-size-large;
  min-height: $header-height;
  margin: 0;
  h1 {
    color: $off-white !important;
  }
  & > div {
    background: #222;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 6rem;
    // justify-content: center;
    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 2rem;
      a {
        color: $light-grey;

        font-size: 2.5rem;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.header__main {
  display: flex;
  justify-content: space-between;
  background: black;
  min-height: 100vh;
}

.header__name {
  // font-family: Source Sans Pro, Helvetica, sans-serif;
  font-weight: 900;
  margin: 0;
}
.header__surname {
  font-weight: 200;
}

.header__location {
  font-size: 1.3rem;
  font-weight: 900;
  z-index: 3;
  overflow: hidden;
  margin-left: 2rem;
  text-align: center;
  width: 10px;
  word-wrap: break-word;
}

.header__location--resume {
  color: $green !important;
  transition: all ease 1s;
}
.header__location--portfolio {
  color: $pink !important;
  transition: all ease 1s;
}
.header__location--skills {
  color: $red !important;
  transition: all ease 1s;
}
.header__location--more {
  color: $lemon !important;
  transition: all ease 1s;
}

.header__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  font-size: 2.5rem;
  nav > a > i {
    color: $light-grey;
  }
}

.color-blue {
  color: $blue !important;
  transition: all ease 1s;
}
.color-green {
  color: $green !important;
  transition: all ease 1s;
}
.color-pink {
  color: $pink !important;
  transition: all ease 1s;
}
.color-red {
  color: $red !important;
  transition: all ease 1s;
}
.color-lemon {
  color: $lemon !important;
  transition: all ease 1s;
}

.nav-activ {
  // font-weight: 600;
}
