@import "./../base/settings.scss";

.header {
  display: flex;
  color: $off-white;
  font-size: $font-size-large;
  min-height: $header-height;
  margin: 0;
  h1 {
    color: $off-white !important;
  }
  & > div {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 6rem;
    // justify-content: center;
    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 2rem;
      a {
        color: #677077;

        font-size: 2.5rem;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.header__main {
  display: flex;
  justify-content: space-between;

  min-height: 100vh;
}

.header__name {
  // font-family: Source Sans Pro, Helvetica, sans-serif;
  font-weight: 900;
  margin: 0;
}
.header__surname {
  font-weight: 200;
}

.header__location {
  color: #89bdd3;
  font-size: 1.3rem;
  font-weight: 900;
  z-index: 3;
  overflow: hidden;
  margin-left: 2rem;
  text-align: center;
  width: 10px;
  word-wrap: break-word;

  transition: all ease 1s;
}

.header__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  font-size: 2rem;
  a > i {
    color: $grey;
    font-size: 2rem;
  }
}

.nav-activ {
  color: #89bdd3 !important;
  transition: all ease 1s;
}
