@import "./../base/settings.scss";

.header {
  background: black;
  color: $off-white;
  font-size: $font-size-large;
  height: $header-height;
  margin: 0;
  & > div {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    nav {
      a {
        color: $off-white;
        text-decoration: none;
      }
      span {
        margin: 0 1rem;
      }
    }
  }
}

.header__name {
  // font-family: Source Sans Pro, Helvetica, sans-serif;
  font-weight: 900;
  margin: 0;
}
.header__surname {
  font-weight: 200;
}

.header__sub-header {
  background: white;
  display: flex;
  height: $subheader-height;
}
.header__sub-header__section {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 5rem;
  width: 50%;
  p {
    font-size: 3rem;
    font-weight: 900;
  }
}
.header__sub-header__section--left--resume {
  background: $blue;
  transition: all ease 1s;
}
.header__sub-header__section--left--portfolio {
  background: $green;
  transition: all ease 1s;
}
.header__sub-header__section--left--skills {
  background: $orange;
  transition: all ease 1s;
}
.header__sub-header__section--left--more {
  background: $red;
  transition: all ease 1s;
}
.header__sub-header__section--right {
  // background: red;
  color: black;
  max-width: 45rem;
  i {
    margin: 0 1rem;
  }
}
