@import "./../base/settings.scss";

.home {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 100vh;

  svg:nth-child(2) {
    width: 100%;
  }
}

// Face animation

#Cheveux,
#Reflet,
#OmbreOeilGauche,
#OmbreOeilDroit,
#NarineGauche,
#NarineDroite,
#NarineGaucheSide,
#NarineDroiteSide,
#Cou > path {
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, coloring;
}

#FondOeilGauche,
#FondOeilDroite {
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, coloring;
}

// Hair
#Cheveux > path {
  stroke: #333;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-name: cheveux-tube-on;
  animation-duration: 1s;
  animation-delay: 8.5s;
}

#Cheveux {
  animation-duration: 1.5s, 1s;
  animation-delay: 3s, 7s;
}

// Ears
#OreilleGauche {
  stroke: #333;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, cheveux-tube-on;
  animation-duration: 1s, 1s;
  animation-delay: 3.5s, 8.8s;
}

#OreilleDroite {
  stroke: #333;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, cheveux-tube-on;
  animation-duration: 1s, 1s;
  animation-delay: 4s, 9s;
}

// Eyes
#FondOeilGauche,
#FondOeilDroite {
  stroke: #333;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, eyes-tube-on;
  animation-duration: 1s, 1s;
}
#FondOeilGauche {
  animation-delay: 4.5s, 9.4s;
}
#FondOeilDroite {
  animation-delay: 4.5s, 9.2s;
}

// Mouth
#LevreHaut,
#LevreBas {
  stroke: #333;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, eyes-tube-on;
  animation-duration: 1s, 1s;
  animation-delay: 5s, 9.7s;
}

// Nose
#NarineDroite,
#NarineDroiteSide,
#NarineGauche,
#NarineGaucheSide {
  animation-duration: 1s, 1s;
  animation-delay: 5.5s, 7s;
}

#NarineDroite > path:nth-child(1),
#NarineDroite > path:nth-child(3),
#NarineDroiteSide > path:nth-child(1),
#NarineDroiteSide > path:nth-child(3),
#NarineGauche > path:nth-child(1),
#NarineGauche > path:nth-child(3),
#NarineGaucheSide > path:nth-child(1),
#NarineGaucheSide > path:nth-child(3) {
  stroke: #333;
  animation-duration: 1s;
  animation-delay: 9.8s;
}

#NarineDroite > path:nth-child(1),
#NarineDroiteSide > path:nth-child(1),
#NarineGauche > path:nth-child(1),
#NarineGaucheSide > path:nth-child(1) {
  stroke: #333;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: eyes-tube-on;
  animation-duration: 1s;
  animation-delay: 9.8s;
}

.nez-ombre {
  opacity: 0;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 9.5s;
}

// Sourcils
#SourcilGauche,
#SourcilDroite {
  stroke: #333;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, eyes-tube-on;
  animation-duration: 1s, 1s;
}
#SourcilGauche {
  animation-delay: 6s, 10.3s;
}
#SourcilDroite {
  animation-delay: 6s, 10.3s;
}

#PaupiereGauche,
#PaupiereDroite {
  stroke: #333;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, eyes-tube-on;
  animation-duration: 2s, 1s;
}
#PaupiereGauche {
  animation-delay: 6.5s, 11s;
}
#PaupiereDroite {
  animation-delay: 6.5s, 11.5s;
}

#RefletLumiere {
  stroke: #333;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, eyes-tube-on;
  animation-duration: 1s, 1s;
  animation-delay: 6s, 8.8s;
}

#OmbreOeilGauche,
#OmbreOeilDroit {
  animation-duration: 2s, 1s;
  animation-delay: 7s, 7s;
}

#Cou > path {
  stroke: #333;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, eyes-tube-on;
  animation-duration: 1s, 1s;
  animation-delay: 7.5s, 8.4s;
}

@keyframes draw {
  from {
    stroke-dashoffset: 3500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes light-on {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cheveux-tube-on {
  0% {
    stroke: #22264b;
  }
  5% {
    stroke: #333;
  }
  10% {
    stroke: #22264b;
  }
  15% {
    stroke: #333;
  }
  35% {
    stroke: #22264b;
  }
  60% {
    stroke: #333;
  }
  70% {
    stroke: #22264b;
  }
  100% {
    stroke: #22264b;
  }
}
@keyframes eyes-tube-on {
  0% {
    stroke: #22264b;
  }
  5% {
    stroke: #333;
  }
  10% {
    stroke: #22264b;
  }
  15% {
    stroke: #333;
  }
  35% {
    stroke: #22264b;
  }
  60% {
    stroke: #333;
  }
  70% {
    stroke: #22264b;
  }
  100% {
    stroke: #22264b;
  }
}

@keyframes coloring {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes scale-and-move {
  0% {
    transform: scale(1) translate(33vw, 0vh);
  }
  50% {
    transform: scale(1) translate(0vw, 0vh);
  }
  100% {
    transform: scale(1.7) translate(0vw, 0vh);
  }
  // from {
  //   transform: scale(1) translate(33vw, 0vh);
  // }
  // to {
  //   transform: scale(1.7) translate(0vw, 0vh);
  // }
}

//Sidebar Animation

.animated-sidebar {
  width: 0;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: show-sidebar;
  animation-duration: 0.5s;
  animation-delay: 17.5s;
  // div {
  //   opacity: 0;
  //   animation-timing-function: ease-out;
  //   animation-fill-mode: forwards;
  //   animation-name: show-sidebar-content;
  //   animation-duration: 0.5s;
  //   animation-delay: 18s;
  // }
}

// Arrow animation
.svg-arrow__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  z-index: 5;
  > svg {
    background: none;
    height: auto;
    width: 100%;
    overflow: visible;
  }
}
#arrow {
  opacity: 0;
  transform: translate(0px, 120px);
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-name: fadein-scale, arrow-to-skills, arrow-to-contact, fadeout;
  animation-duration: 1s, 0.5s, 0.5s, 0.5s;
  animation-delay: 23s, 26s, 29s, 31s;
}

//text animation

// Sidebar Keyframes
@keyframes show-sidebar {
  from {
    width: 0;
  }
  to {
    width: 6rem;
  }
}
@keyframes show-sidebar-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//Arrow keyframes
@keyframes arrow-to-skills {
  from {
    transform: translate(0px, 120px);
  }
  to {
    transform: translate(0px, 150px);
  }
}

@keyframes arrow-to-contact {
  from {
    transform: translate(0px, 150px);
  }
  to {
    transform: translate(0px, calc(100vh - 110px)) rotate(-90deg);
  }
}
//Strips
#bande-bas {
  transform: translate(-1440px, 272px);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: strip-appear-left;
  animation-duration: 1s;
  animation-delay: 13s;
}
#bande-haut {
  transform: translate(1440px, -272px);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: strip-appear-right;
  animation-duration: 1s;
  animation-delay: 13s;
}
#bande-noire-middle {
  transform: translate(-272px, -1440px);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: strip-appear-top;
  animation-duration: 1s;
  animation-delay: 13s;
}
#bande-grise-large {
  transform: translate(272px, 1440px);

  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: strip-appear-bottom;
  animation-duration: 1s;
  animation-delay: 13s;
}
#bande-etroite-grise {
  transform: translate(-272px, -1440px);

  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: strip-appear-top;
  animation-duration: 1s;
  animation-delay: 13s;
}
#bande-noire-left {
  transform: translate(-272px, -1440px);

  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: strip-appear-top;
  animation-duration: 1s;
  animation-delay: 13s;
}

// TExt

#portfolio,
#skills,
#contact {
  stroke: transparent;
  stroke-width: 5;
  &:hover {
    fill: #f2b632;
    cursor: pointer;
  }
}
#portfolio {
  opacity: 0;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 15s;
}
#skills {
  opacity: 0;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-delay: 16s;
}
#contact {
  opacity: 0;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-delay: 17s;
}

#front-end {
  @for $i from 1 through 38 {
    .delay-front-#{$i} {
      animation-delay: calc(0.2s + (0.1s * #{$i}));
    }
    path {
      animation: front-end-appears 0.5s ease-in forwards;
      opacity: 0;
    }
  }
}

@keyframes strip-appear-left {
  from {
    transform: translate(-1440px, 272px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes strip-appear-right {
  from {
    transform: translate(1440px, -272px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes strip-appear-top {
  from {
    transform: translate(-272px, -1440px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes strip-appear-bottom {
  from {
    transform: translate(272px, 1440px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes black-to-blue {
  from {
    stroke: black;
  }
  to {
    stroke: #252839;
  }
}

@keyframes black-to-yellow {
  from {
    stroke: #111;
  }
  to {
    stroke: #252839;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes front-end-appears {
  from {
    opacity: 0;
    transform: scale(6);
    transform-origin: 50% 50%;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: 50% 50%;
  }
}
