@import "./../base/settings.scss";
.resume {
  background-image: linear-gradient(
    to right,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
  font-weight: 900;
  perspective: 200vw;
  perspective-origin: 50vw 100vh;
  width: 112vw;
}
.resume__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding: 5rem 0;
  h2,
  h3,
  h4 {
    color: lightgrey;
  }
  li {
    list-style-type: none;
  }
  div {
    width: 100%;
  }
}

.resume__section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 1rem;
  overflow-y: auto;
  padding: 1rem 1rem 0 1rem;
  width: 90%;

  * {
    margin: 0;
  }
}

.resume__section__item {
  margin: 2rem 0;
  width: 50%;
  padding: 0 1.5rem;
  header {
    div {
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: space-between;
      margin: 1rem 0rem;

      h3 {
        font-size: 2.5rem;
        font-weight: 900;
      }
    }
  }

  p {
    font-size: 1.6rem;
    max-width: 80%;
  }
  > p:first-child {
    margin-left: 1rem;
  }
  > p:nth-child(3),
  > p:nth-child(4) {
    opacity: 0.5;
    margin-left: 2rem;
  }
}

.resume__section__item__subtitle {
  display: flex;
  justify-content: space-between;
}

.resume__section__item__technos {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  padding: 0;
}

.resume__section__year-item {
  display: flex;
  margin: 0.5rem 0;
  width: 50%;
  header {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 1rem;
    text-align: right;
    max-width: 12rem;
    min-width: 12rem;
  }
  section {
    div {
      align-items: baseline;
      display: flex;
      p {
        font-size: 1.8rem;
        font-weight: 900;
        letter-spacing: 3px;
        margin-right: 1rem;
      }
      a,
      p:nth-child(2) {
        color: #89bdd3;
        font-style: italic;
        font-size: 1.6rem;
        margin-left: 0.5rem;
      }
    }
    > p {
      font-size: 1.4rem;
      opacity: 0.5;
    }
  }
}

@include for-phone-only {
  .resume__wrapper {
    padding: 1rem 3rem 1rem 1rem;
    ul {
      padding: 0 0 0 2rem;
    }
  }
  .resume__section {
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1rem;
    width: 100%;
    margin-right: 3rem;
    padding: 0;
    li {
      margin: 0;
    }
  }
  .resume__section__item {
    width: 100%;
  }
  .resume__section__year-item {
    flex-direction: column;
    width: 100%;
    header {
      text-align: left;
    }
    section {
      margin: 0.5rem 1rem 0.5rem 0;
      > p {
        display: none;
      }
    }
  }
}
