@import "./../base/settings.scss";

.sidebar {
  border-right: 1px solid black;
  // width: 20rem;

  ul {
    display: flex;
    font-size: $font-size-medium;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    text-align: right;
    li {
      cursor: pointer;
      font-weight: 200;
      padding: 1rem;
      transition: all ease 1s;
    }
  }
  .sidebar--portfolio {
    li:hover {
      color: $pink;
      transition: all ease 0.5s;
    }
  }
}
