@import "./../base/settings.scss";

.skills__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: center;
  margin: 2rem 1rem;

  h2,
  h3,
  h4 {
    color: $off-white;
  }
  li {
    list-style-type: none;
  }
}

.skills__section {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 1rem;
  margin: 0 5rem;
  overflow-y: auto;
  div {
    margin: 2rem;
  }
}

.skills__modal {
  & .ant-modal {
    max-height: 90vh !important;
    width: 95vw !important;
  }
  .open-button {
    display: block;
    margin: 3rem auto;
  }
}

@include for-phone-only {
  .skills__wrapper {
    padding: 1rem 3rem 1rem 1rem;
    ul {
      padding: 0 0 0 2rem;
    }
  }
  .skills__section {
    flex-direction: column;
    font-size: 1rem;
    margin-left: 0rem;

    div {
      margin: 0;
    }
  }
}
