@import "./../base/settings.scss";

.skills {
  background-image: linear-gradient(
    to right,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
  font-weight: 900;
  perspective: 200vw;
  perspective-origin: 50vw 100vh;
  width: 112vw;
}

.skills__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: center;
  overflow-x: hidden;
  h2,
  h3,
  h4 {
    color: $off-white;
  }
  li {
    list-style-type: none;
  }
  div {
    padding: 0 2rem;
    width: 100%;
  }
}

.skills__section {
  // background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0 1rem;
  overflow-y: auto;
  width: 90%;
  div {
    margin: 2rem;
  }
  h3 {
    border-bottom: 1px solid $off-white;
    font-size: 2.5rem;
  }
  li {
    font-size: 1.8rem;
  }
}

.skills__section--stats {
  // flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  overflow-x: hidden;
  p {
    font-size: 2rem;
  }
  span {
    font-size: 2rem;
  }
  li > span {
    font-size: 3rem;
    transition: 2s;
  }
  span:nth-child(1) > li > span {
    color: #ffb3ba;
  }
  span:nth-child(2) > li > span {
    color: #ffdfba;
  }
  span:nth-child(3) > li > span {
    color: #ffffba;
  }
  span:nth-child(4) > li > span {
    color: #baffc9;
  }
  span:nth-child(5) > li > span {
    color: #bae1ff;
  }
}

.skills__modal {
  & .ant-modal {
    max-height: 90vh !important;
    width: 95vw !important;
  }
  .open-button {
    display: block;
    margin: 3rem auto;
  }
}

@include for-phone-only {
  .skills__wrapper {
    padding: 1rem 3rem 1rem 1rem;
    ul {
      padding: 0 0 0 2rem;
    }
  }
  .skills__section {
    flex-direction: column;
    font-size: 1rem;
    margin-left: 0rem;

    div {
      margin: 0;
    }
  }
}
