@import "./../base/settings.scss";

.slider {
  min-height: 100vh;
  max-height: 100vh;
}

.element {
  > div:nth-child(even) {
    background: rgb(36, 36, 36);
  }
  > div:nth-child(odd) {
    background: rgb(41, 41, 41);
  }
}
.slider-nav {
  border-top: none;
  color: $off-white;
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-end;
  position: fixed;
  padding: 1rem 1rem;
  width: 100%;
  z-index: 98;

  nav {
    display: flex;
    padding-right: 15rem;
  }
}

.slider-nav--navlink {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.2);
  margin: 0 1rem;
  transition: all ease, 0.5s;
  &:hover {
    cursor: pointer;
  }
}

.slider-nav--navlink--active {
  color: rgba(255, 255, 255, 0.8);
  transition: all ease, 0.5s;
}

.border-red {
  border-bottom: 1px solid $red;
  transition: all ease, 0.5s;
}
.border-green {
  border-bottom: 1px solid $green;
  transition: all ease, 0.5s;
}

.border-top-red {
  border-top: 1px solid $red;
  transition: all ease, 0.5s;
}
.border-top-green {
  border-top: 1px solid $green;
  transition: all ease, 0.5s;
}

.dotstyle ul {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 1rem 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em; /* make the text accessible to screen readers */
  cursor: pointer;
  position: absolute;
}

.dotstyle li a:focus {
  outline: none;
}

/* SVG draw circle stroke */

.dotstyle__wrapper {
  display: flex;
  align-items: center;
  height: 100vh;

  position: absolute;
  top: 0;
  right: 0;
}

.dotstyle-drawcircle li {
  width: 18px;
  height: 18px;
}

.dotstyle-drawcircle li a {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: grey;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.dotstyle-drawcircle li svg {
  z-index: 10;
}

.dotstyle-drawcircle--green svg circle {
  stroke: $green;
}

.dotstyle-drawcircle--red svg circle {
  stroke: $red;
}

.dotstyle-drawcircle svg circle {
  fill: rgba(255, 255, 255, 0.11);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 39 39;
  stroke-dashoffset: 39;
  /* length of circle path (pi*2r) */
  -webkit-transition: stroke-dashoffset 0.3s, opacity 0.3s;
  transition: stroke-dashoffset 0.3s, opacity 0.3s;
  transition-delay: 0.15s;
}

.dotstyle-drawcircle li.current a,
.dotstyle-drawcircle li a:hover,
.dotstyle-drawcircle li a:focus {
  opacity: 0.5;
}

.dotstyle-drawcircle li.current svg circle {
  opacity: 1;
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.3s, opacity 0.15s;
  transition: stroke-dashoffset 0.3s, opacity 0.15s;
  transition-delay: 0.15s;
}

@include for-phone-only {
  .slider-nav {
    justify-content: flex-start;
    nav {
      padding-right: 0;
    }
  }
  .dotstyle__wrapper {
    display: flex;
    position: absolute;
    top: calc(100vh - 40px);
    height: 20px;
    width: 100%;
  }
  .dotstyle {
    width: 100%;
  }
  .dotstyle ul {
    flex-direction: row;
    justify-content: center;
    margin: auto 1rem;
  }
}

// .dotstyle__wrapper {
//   display: flex;
//   align-items: center;
//   height: 100vh;

//   position: absolute;
//   top: 0;
//   right: 0;
// }
