.slider {
  min-height: 100vh;
  max-height: 100vh;
}

.element {
  div:nth-child(even) {
    background: red;
  }
  div:nth-child(odd) {
    background: green;
  }
}

.slider-nav {
  position: absolute;
  z-index: 99;
}
