// Colors
$off-white: #f7f7f7;
$light-grey: #e4e4e4;
$grey: #666;
$blue: #00d8ff;
$green: #00ff18;
$pink: #ff00e1;
$red: #ff0000;
$lemon: #d0ff00;
$dark-blue: #364051;

// Font Size
$font-size-extra-large: 2.5rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Header
$header-height: 100vh;
$subheader-height: 140px;

// Footer
$footer-height: 40px;

// Main
$main-height: calc(100vh - #{$footer-height} - #{$header-height});

// Grid
$gutter: 2rem;
$number: 4;
